body {
    font-family: 'Epilogue', sans-serif;
    line-height: 1.4; 
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    background: none;
    border: none;
    outline: none;
}